.headerBar {
    background-color: #007887;
     display: flex;
     justify-content: flex-end;
     height: 80px;
     padding-right: 3%;
}

.favoritesButton {
    color: white !important;
}

.menuIcon {
    margin-right: 10px;
}