.brokenImagePlaceholder {
    color: grey;
    width: 200px !important;
    height: 300px !important;
    bottom: 30px;
    position: relative;
}

.imageListItemBar {
    min-height: 60px;
}

.imageListItemBarSubtitle {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.starIcon {
    font-size:small;
    margin-right: 5px;
}

.imageListItemSubHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.favoriteIcon {
    color: white;
}

.movieTitle {
    white-space: nowrap;
    overflow: hidden;
    max-width: 500px;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    text-align: left;
}