.searchBarContainer {
    display: flex;
    justify-content: center;
    margin: 2% 20%;
    max-height: 40px;
    align-items: center;
    border: 1px solid grey;
    border-radius: 20px;
}

.inputBase {
    margin-left: 10px;
    flex: 10px;
}

.searchIcon {
    padding: '10px';
}